<nav class="cr-nav">
  <a class="pull-left logo" ui-sref="khan.classroom"><span class="icon-leaf"></span></a>
  <span class="pull-left">{{currentStudent.name}}</span>
  <a class="pull-right menu" ui-sref="admin"><span class="icon-settings"></span></a>
</nav>

<ul class="list-unstyled toc">
  <li ng-repeat="topic in toc">
    <h2>{{topic.title}}</h2>
    <ul class="list-unstyled">
      <li class="row" ng-repeat="row in topic.rows">
        <a ui-sref="khan.tutorials({topicSlug: topic.slug,  tutorialSlug: tutorial.slug })"
           ng-class="row-{{row.length}}" ng-repeat="tutorial in row">
          <div class="circle">
            <div class="logo"></div>
          </div>
          {{tutorial.title}}
        </a>
      </li>
    </ul>

    <div class="list-group">
      <a ui-sref="khan.tutorials({topicSlug: topic.slug,  tutorialSlug: tutorial.slug })" class="list-group-item"
         ng-repeat="tutorial in topic.tutorials">
        {{tutorial.title}}
      </a>
    </div>
  </li>
</ul>

