.lk-video-wrap {
  text-align: center;
}

.lk-video {
  width: 80%;
}

perseus {
  width: 590px;
  margin: 0 auto;
}

.lk-ase-bmenu {
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0;

  .lk-ase {
    display: flex;
    width: 590px;
    margin: 0 auto;

    * {
      width: 48%;

      &:first-child {
        margin-right: 4%;
      }
    }
  }

  .ase-result {
    flex: 1 0 auto;
  }

  .ase-check {
    min-width: 30%;
  }
}

