@font-face {
  font-family: 'icomoon';
  src: url('#{$icon-font-path}icomoon.eot?-4gyiqs');
  src: url('#{$icon-font-path}icomoon.eot?#iefix-4gyiqs') format('embedded-opentype'),
  url('#{$icon-font-path}icomoon.woff?-4gyiqs') format('woff'),
  url('#{$icon-font-path}icomoon.ttf?-4gyiqs') format('truetype'),
  url('#{$icon-font-path}icomoon.svg?-4gyiqs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e602";
}

.icon-light-bulb:before {
  content: "\e607";
}

.icon-enlarge:before {
  content: "\e606";
}

.icon-delete:before {
  content: "\e603";
}

.icon-settings:before {
  content: "\e605";
}

.icon-arrow-back:before {
  content: "\e601";
}

.icon-check:before {
  content: "\e608";
}

.icon-close:before {
  content: "\e600";
}

.icon-person:before {
  content: "\e604";
}
