.tc-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 50px auto 0;
  width: 80%;
}

.tc-card {
  flex-direction: column;
  display: flex;
  flex-grow: 0;
  min-width: 220px;
  width: 22%;
  min-height: 230px;
  border: 1px solid #FFF;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin: 0 3% 50px;
  color: $gray-dark;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  position: relative;

  h4 {
    flex: 1 0 auto;
  }

  a {
    width: 80%;
    margin: 0 auto;
    flex: 0 0 auto;
  }

  .tc-number {
    font-size: $font-size-h2;
  }

  &:hover {
    text-decoration: none;
  }

  .tc-done{
    background-color: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    text-align: center;

    div{
      font-size: 30px;
      color: $tutorial-yellow;
      padding-top: 8px;
    }

  }
}

.tu-wrap {
  background-color: #1cb0f6;
  height: 100%;
}

.tc-blue {
  color: $tutorial-blue !important;
}

.tc-red {
  color: $tutorial-red !important;
}

.tc-green {
  color: $tutorial-green !important;
}

.tc-yellow {
  color: $tutorial-yellow !important;
}
