$icon-font-path: "/static/styles/fonts/";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/alerts";

// Utility classes
@import "bootstrap/utilities";

@import "fonts";
@import "iconmoon";
@import "nav";
@import "assessment";
@import "tutorial";
@import "progress-dot";
@import "classroom";
@import "admin";
@import "perseus";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  height: 100%;

  &.bg-yellow {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, rgba(255, 0, 0, 0.06) 16px, rgba(255, 0, 0, 0.06) 32px);
  }
}

footer {
  height: 66px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;

  ul.list-inline {
    padding: 15px;
    margin: 0;
  }
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.cnt-md {
  width: 80%;
  margin: 40px auto 0;

  & > :first-child {
    margin-top: 0;
  }
}

.bg-blue {
  background-color: $tutorial-blue !important;
}

.bg-red {
  background-color: $tutorial-red !important;
}

.bg-green {
  background-color: $tutorial-green !important;
}

.bg-yellow {
  background-color: $tutorial-yellow !important;
}

ui-view, perseus {
  display: block;
}



